body {
    background: #333;
    color: #fff;
    font: 12px/14px 'Consolas', monospace;
}
#editor {
    background: #444;
    display: block;
    width: 49%;
    float: left;
}
#canvas {
    background: #444;
    width: 48%;
    float: right;
    padding: 10px;
}
#output {
    width: 48%;
    display: block;
    float: left;
    padding: 10px;
}
#htmlout {
    display: visible;
}
#iosout {
    display: none;
}
a, a:link, a:hover, a:Visited {
    color: #4db0e3;
    text-decoration: none;
}
