body {
    background: #333;
    color: #fff;
    font: 12px/14px 'Consolas', monospace;
}
#editor {
    background: #444;
    display: block;
    width: 49%;
    float: left;
}
#mobileView {
    position: relative;
    margin-top: -405px;
    background: #444;
    width: 360px;
    float: right;
    padding: 10px;
}
#output {
    width: 49%;
    display: block;
    float: left;
    margin-top: 10px;
}

#phoneScreen {
    width: 320px;
    height: 480px;
    position: absolute;
    left: 50%;
    margin:0 0 0 -160px;
    background-color: white;
}

#htmlout {
    display: visible;
}
#iosout {
    display: none;
}
a, a:link, a:hover, a:Visited {
    color: #4db0e3;
    text-decoration: none;
}
